.grid-fieldset {
  height: 120px;
  width: 120px;
  margin: 10px 10px 0 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}
.grid-fieldset legend {
  padding: 0 3px 0 3px;
}

.grid-element {
  margin: 8px 0 0 10px;
}

.grid-label {
  margin-left: 10px;
}
