.ElementsMenu {
  position: absolute;
  right: -1px;
  top: -1;
  display: flex;
  flex-direction: row;
  width: 332px;
  height: calc(100vh - 170px);
  border: 1px solid black;
  border-radius: 4px;
  background-color: grey;
}

.ElementsMenu.closed {
  width: 20px;
}

.ElementsMenuOpener {
  width: 20px;
  height: 100%;
  border: none;
  border-right: 1px solid rgb(90, 90, 90);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: lightgrey;
}
.ElementsMenuOpener.closed {
  border: none;
  border-radius: 3px;
  background-color: grey;
}

.ElementsMenuOpener svg {
  width: 18px;
  height: 18px;
  margin: 0 auto;
}

.ElementsMenuItems {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ElementsMenuItems.closed {
  display: none;
}

.ElementsMenuItems::-webkit-scrollbar {
  margin-left: auto;
  width: 10px;
}

.ElementsMenuItems::-webkit-scrollbar-track {
  border-left: 1px solid rgb(90, 90, 90);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: lightgrey;
}

.ElementsMenuItems::-webkit-scrollbar-thumb {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(90, 90, 90);
}

.element {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 4px;
  background-color: lightgrey;
}

.element-name-label {
  width: 100%;
}

.element input {
  width: 60px;
}

.element input[type="color"] {
  height: 15px;
}

.element input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.element input[type="color"]::-webkit-color-swatch {
  border: none;
}

.element-attr {
  margin-right: 10px;
}

.element-attr label {
  margin-right: 10px;
}
